In [5]:
import arff
import pandas as pd

# Path to your ARFF file
arff_file_path = 'caesarian.csv.arff'

# Open and read the ARFF file
with open(arff_file_path, 'r') as f:
    # Load ARFF file
    arff_data = arff.load(f)

# Extract data and attributes from the ARFF file
data = arff_data['data']
attributes = arff_data['attributes']

# Extract attribute names
column_names = [attr[0] for attr in attributes]

# Create a DataFrame from the data
df = pd.DataFrame(data, columns=column_names)

# Display the DataFrame
print(df)

   Age Delivery number Delivery time Blood Pressure Heart Problem Caesarian
0   22               1             0              2             0         0
1   26               2             0              1             0         1
2   26               2             1              1             0         0
3   28               1             0              2             0         0
4   22               2             0              1             0         1
..  ..             ...           ...            ...           ...       ...
75  27               2             1              1             0         0
76  33               4             0              1             0         1
77  29               2             1              2             0         1
78  25               1             2              0             0         1
79  24               2             2              1             0         0

[80 rows x 6 columns]

In [6]:
df.head()

  Age Delivery number Delivery time Blood Pressure Heart Problem Caesarian
0  22               1             0              2             0         0
1  26               2             0              1             0         1
2  26               2             1              1             0         0
3  28               1             0              2             0         0
4  22               2             0              1             0         1

In [7]:
df.sort_values("Age")

   Age Delivery number Delivery time Blood Pressure Heart Problem Caesarian
70  17               1             0              0             0         1
26  18               1             1              2             1         1
25  18               1             0              1             0         0
61  19               1             0              1             0         1
41  19               1             0              1             0         1
..  ..             ...           ...            ...           ...       ...
44  36               4             0              2             1         1
42  36               1             1              2             0         1
18  37               3             0              1             1         1
74  38               3             2              2             1         1
31  40               1             0              1             1         1

[80 rows x 6 columns]

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              80 non-null     object
 1   Delivery number  80 non-null     object
 2   Delivery time    80 non-null     object
 3   Blood Pressure   80 non-null     object
 4   Heart Problem    80 non-null     object
 5   Caesarian        80 non-null     object
dtypes: object(6)
memory usage: 3.9+ KB

In [17]:
df["Age"]= df["Age"].astype(int)
df["Delivery number"] = df["Delivery number"].astype(int)
df["Delivery time"] = df["Delivery time"].astype("category")
df["Blood Pressure"] = df["Blood Pressure"].astype("category")
df["Heart Problem"] = df["Heart Problem"].astype("category")
df["Caesarian"] = df["Caesarian"].astype("category")

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              80 non-null     int32
 1   Delivery number  80 non-null     int32
 2   Delivery time    80 non-null     category
 3   Blood Pressure   80 non-null     category
 4   Heart Problem    80 non-null     category
 5   Caesarian        80 non-null     category
dtypes: category(4), int32(2)
memory usage: 1.6 KB